body{
    margin: 0;
    padding: 0;
    background: url(waszp.jpg) no-repeat center center fixed;
    background-size: cover;
   
  }
  .box{
    width: 90%; /* Adjusted for mobile */
    background: rgba(147, 216, 255, 0.3);
    -webkit-backdrop-filter: blur(30px); /* Prefix for iOS Safari and other WebKit-based browsers */
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px; /* Adjusted for mobile */
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    font-family: 'Century Gothic',sans-serif;
   
  }
  .box-img{
    align-items: center;
    border-radius: 20%;
    width: 134.5px;
    height: 192.375px;   

  }

.box h1, .box h2 {
    font-size: 28px; /* Adjusted for mobile */
    letter-spacing: 2px; /* Adjusted for mobile */
    font-weight: 350;
}

  .box h5{
    font-size: 20px; /* Adjusted for mobile */
    letter-spacing: 2px; /* Adjusted for mobile */
    font-weight: 200;
  }
  .box p{
    font-size: 14px; /* Adjusted for mobile */
    letter-spacing: 1px; /* Adjusted for mobile */
    font-weight: 300;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 10px; /* Adjusted for mobile */
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 30px; /* Adjusted for mobile */
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }


/* Media query for tablets and desktops */
@media (min-width: 768px) {
    .box {
        width: 750px; /* Original width */
        padding: 40px; /* Original padding */
    }

    .box h1, .box h2 {
        font-size: 35px; /* Original font size */
        letter-spacing: 4px; /* Original letter spacing */
    }

    .box h5 {
        font-size: 25px; /* Original font size */
        letter-spacing: 3px; /* Original letter spacing */
    }

    .box p {
        font-size: 16px; /* Original font size */
        letter-spacing: 2px; /* Original letter spacing */
    }

    .box li {
        margin: 25px; /* Original margin */
    }

    .box li a {
        font-size: 50px; /* Original font size */
    }
}
